{% extends "base.html" %}
{% block content %}
<h1 class="text-center bg-dark text-light py-3">{{schedualing}}</h1>

<!-- Process Table -->
<h2 class="text-center bg-dark text-light my-0 py-2">Process Table</h2>
<table class='table border border-dark table-light'>
    <thead>
        <th scope='col'>Process ID</th>
        {%if schedualing == "Priority(Non-Preemptive)"%}
            <th scope='col'>Priority</th>
        {%endif%}
        <th scope='col'>Arrival Time</th>
        <th scope='col'>Burst Time</th>
        <th scope='col'>Response Time</th>
        <th scope='col'>Turnaround Time</th>
        <th scope='col'>Waiting Time</th>
    </thead>
    <tbody class="bg-light">
        {%for key,value in process_table.items%}
        <tr>
            {%for k,v in value.items%}
            <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Gantt Chart -->
<h2 class="text-center bg-dark text-light my-0 py-2">Gantt Chart</h1>
<p class="text-center bg-light p-3">
{% for element in gantt_chart %}
    {% if element|add:1%}
        <sub>{{element}}</sub>
    {% else %}
        <b>{{element}}</b>
    {% endif %}
{% endfor %}
</p>

<!-- Process States -->
<!-- <h2 class="text-center bg-dark text-light my-0 py-2">Process States</h1>
<table class='table border border-dark'>
    <thead class="bg-dark text-light">
        {%for x in process_states%}
        <th scope='col'>{{x}}</th>
        {%endfor%}
    </thead>
    <tbody>
        {%for i in counter%}
        <tr>
            {%for key,value in process_states.items%}
            <td>{{value.0}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table> -->

{% endblock content %}