{% extends "base.html" %}
{% block content %}
<a class="btn btn-dark rounded-0" href="{% url 'process form' %}">Create Process</a>
<div class="container col-md-10 mx-auto">
<table class='table'>
    <thead class="bg-dark text-light">
        <th scope='col'>Process ID</th>
        <th scope='col'>Arrival Time</th>
        <th scope='col'>Burst Time</th>
        <th scope='col'>Waiting Time</th>
        <th scope='col'>Turnaround Time</th>
    </thead>
    <tbody>
        {%for x in processes%}
        <tr>
            {%for i in x.values%}
            <td>{{i}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}